@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
@import "./variables";

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    background-color: $bg-color;
    font-size: 15px;
}
/* -------------------------------
        HEADER
        ----------------------*/
header {
    width: 100%;
    height: 156px;
    background-color: #5CA5A5;
    background-image: url("../images/bg-header-mobile.svg");    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* ---------------------
        MAIN - CARDS
            -------------- */
.cards {
    display: flex;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 40px;
}

.card {
    background-color: $bg-color-card;
    width: 327px;
    min-width: 78%;
    position: relative;
}

.card:first-child,
.card:nth-child(2) {
    border-left: 5px solid $btn-color;
    border-radius: 7px;
}

.primary__content {
    width: 82%;
    display: flex;
    flex-direction: column;
    flex-basis: 1;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 34px;
    padding-left: 10px;
}

.primary::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    background-color: #B7C4C4;
    bottom: 0;
    left: 5%;
}

.primary__basic {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center
}

.primary__title {
    font-size: $main-font-size;
    color: $btn-color;
    line-height: 24px;
    font-weight: 700;
}

.new {
    font-size: 0.73rem;
    line-height: 14px;
    /* letter-spacing: -0.08px; */
    background-color: $btn-color;
    color: $bg-color-card;
    padding: 4px 8px;
    text-align: center;
    border-radius: 30px;
}

.featured {
    font-size: 0.73rem;
    background: $sec-bg-color;
    color: $bg-color;
    padding: 4px 5px;
    border-radius: 30px;
}

.primary__subtitle {
    color: $sec-bg-color;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 700;
}

.card__logo {
    width: 48px;
    position: absolute;
    top: -24px;
    left: 26px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

li {
    font-size: 0.73rem;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.primary__content li {
    list-style: disc;
}

.primary__content li:first-child {
    list-style: none;
}

.primary {
    position: relative;
    padding: 20px;
}

.disableElements {
    display: none;
}

.disableSpan {
    display: none;
}

.newFilter {
    display: block;
}

.modalContainer {
    position: relative;
    top: 110px;
    left: 0%;
    margin: auto;
    padding: 5px;
    visibility: hidden;
}

.modal {
    padding: 30px;
    position: relative;
    width: 75%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
}

.clearAll {
    position: absolute;
    top: 40%;
    right: 13%;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: $btn-color;
    border: none;
    background-color: transparent;
}

.modalPadding {

    visibility: visible;
}

.ctrls {

    display: flex;
    justify-content: space-evenly;
}

.secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    width: 70%;    
    align-items: baseline;
    padding: 20px;
}

.filterSpan,
.actionBtn {
    font-size: $main-font-size;
    line-height: 24px;
    font-weight: 700;
    padding: 2px 7px;
    color: $btn-color;
    background-color: $btn-bg-color;
    border: none;
    border-radius: 4px;
    letter-spacing: -0.1px;
}

.clearBtn {
    background-color: $btn-color;
    border: none;
}

/* ----------------
active states
 -------------------*/
button:hover {
    cursor: pointer;
}

.clearBtn:hover {
    background-color: black;
}

.clearAll:hover {    
    border-bottom: 1px solid $btn-color;
}


@media screen and(min-width: 1280px) {
    /* ---------------------------------
            HEADER DESKTOP
    -------------------------------- */
    header {
        background-image: url("../images/bg-header-desktop.svg");
    }

    /* ---------------------------------
            CARD DESKTOP
    -------------------------------- */
    .cards {
        padding-top: 78px;
    }

    .card {
        display: flex;
        flex-direction: row;
        min-width: 81.5%;
        justify-content: space-between;
    }

    .card__logo {
        top: 32px;
        width: 88px;
    }
    .primary__title {
        font-size: 0.933rem;        
    }

    .primary {
        width: 35%;
        padding-left: 160px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .primary::before {
        width: 0%;
        height: 0px;
        bottom: 0;
        left: 5%;
    }
    .featured, .new {       
        line-height: 14px;
    }
    .primary__subtitle {        
        font-size: 1.2rem;
        line-height: 24px;
    }
    li {
        font-size: 1rem;
        letter-spacing: -0.12px;
    }
    .languages, .tools {
        gap: 10px;
    }

    .secondary {
        width: 35%;
        align-items: center;
    }
    .modal {
        padding: 22px;
        min-width: 79.5%;
    }
    .modalContainer {       
        top: 123px;        
    }
    .disableElements {
        display: none;
    }
    
    .disableSpan {
        display: none;
    }
}