@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  background-color: #EFFAFA;
  font-size: 15px;
}

header {
  width: 100%;
  height: 156px;
  background-color: #5CA5A5;
  background-image: url("/images/bg-header-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}

.card {
  background-color: #ffffff;
  width: 327px;
  min-width: 78%;
  position: relative;
}

.card:first-child,
.card:nth-child(2) {
  border-left: 5px solid #5CA5A5;
  border-radius: 7px;
}

.primary__content {
  width: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 34px;
  padding-left: 10px;
}

.primary::before {
  position: absolute;
  content: "";
  width: 90%;
  height: 2px;
  background-color: #2B3939;
  bottom: 0;
  left: 5%;
}

.primary__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary__title {
  font-size: 0.87rem;
  color: #5CA5A5;
  line-height: 24px;
  font-weight: 700;
}

.new {
  font-size: 0.73rem;
  line-height: 14px;
  /* letter-spacing: -0.08px; */
  background-color: #5CA5A5;
  color: #ffffff;
  padding: 4px 8px;
  text-align: center;
  border-radius: 30px;
}

.featured {
  font-size: 0.73rem;
  background: #2B3939;
  color: #EFFAFA;
  padding: 4px 5px;
  border-radius: 30px;
}

.primary__subtitle {
  color: #2B3939;
  font-size: 1rem;
  line-height: 24px;
}

.card__logo {
  width: 48px;
  position: absolute;
  top: -24px;
  left: 26px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

li {
  font-size: 0.73rem;
  line-height: 24px;
  letter-spacing: -0.1px;
}

.primary__content li {
  list-style: disc;
}

.primary__content li:first-child {
  list-style: none;
}

.primary {
  position: relative;
  padding: 20px;
}

.disableElements {
  display: none;
}

.disableSpan {
  display: none;
}

.newFilter {
  display: block;
}

.modalContainer {
  position: relative;
  top: 110px;
  left: 0%;
  margin: auto;
  padding: 5px;
  visibility: hidden;
}

.modal {
  padding: 30px;
  position: relative;
  width: 75%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin: auto;
}

.clearAll {
  position: absolute;
  top: 40%;
  right: 13%;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  color: #5CA5A5;
  border: none;
  background-color: transparent;
}

.modalPadding {
  visibility: visible;
}

.ctrls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  width: 70%;
  /* height: 100vh; */
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 20px;
}

.filterSpan,
.actionBtn {
  font-size: 0.87rem;
  line-height: 24px;
  font-weight: 700;
  padding: 2px 7px;
  color: #5CA5A5;
  background-color: #eef6f6;
  border: none;
  border-radius: 4px;
}

.clearBtn {
  background-color: #5CA5A5;
  border: none;
}

button:hover {
  cursor: pointer;
}

.clearBtn:hover {
  background-color: black;
}

.clearAll:hover {
  border-bottom: 1px solid #5CA5A5;
}

@media screen and (min-width: 1120px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card__logo {
    top: 50px;
  }
  .primary {
    width: 40%;
    padding-left: 160px;
  }
  .primary::before {
    width: 0%;
    height: 0px;
    bottom: 0;
    left: 5%;
  }
  .secondary {
    width: 45%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */