@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
@import "./reset";
@import "./variables";

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    background-color: $bg-color;
    font-size: 15px;
}

header {
    width: 100%;
    height: 156px;
    background-color: #5CA5A5;
    background-image: url("/images/bg-header-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cards {
    display: flex;
    align-items: center;
    padding-top: 125px;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 20px;
}

.card {
    background-color: $bg-color-card;
    width: 327px;
    min-width: 78%;
}

.primary__content {
    width: 70.5%;
    display: flex;
    flex-direction: row;
    flex-basis: 1;
    flex-wrap: wrap;
    row-gap: 10px;
}

.primary__basic {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.primary__title {
    font-size: $main-font-size;
    color: $btn-color;
}

.new {
    font-size: 0.8rem;
    line-height: 14px;
    /* letter-spacing: -0.08px; */
    background-color: $btn-color;
    color: $bg-color-card;
    padding: 4px 8px;
    text-align: center;
    border-radius: 30px;
}

.featured {
    background: $sec-bg-color;
    color: $bg-color;
    padding: 4px 5px;
    border-radius: 30px;
}

.primary__subtitle {
    color: $sec-bg-color;
}

.card__logo {
    width: 48px;
    position: relative;
    top: -24px;
    left: 26px;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.primary {
    position: relative;
}

.disableElements {
    display: none;
}
.disableSpan {
    display: none;
}
.newFilter {
    display: block;
}
.modalContainer {
	position: relative;
	top: 110px;
    left: 0%;
    margin: auto;
    padding: 5px;
    visibility: hidden;
}
.modal {
    padding: 30px;
    position: relative;
    width: 75%;   
    background-color: white;    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.clearAll {
    position: absolute;
    top: 40%;
    right: 13%;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    background-color: inherit;
    border: none;
}
.clearAll:hover {
	opacity: 0.4;
}

.modalPadding {
    
    visibility: visible;
}

.ctrls {

    display: flex;
    justify-content: space-evenly;
}
.secondary {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 5px;
	width: 70%;
	/* height: 100vh; */
    align-items: baseline;
    padding: 20px;
}

.filterSpan, .actionBtn {
    font-size: $main-font-size;
    line-height: 24px;
    font-weight: 700;
    padding: 2px 7px;
    color: $btn-color;
    background-color: $btn-bg-color;
    border: none;
    border-radius: 4px;
}

.clear {
    background-color: $btn-color;
    border: none;
}